body{
    background-color: #ff5a00 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
#app{ 
    border :3px solid black ;}
/*-------Bloc presentation IMAGE/NOM / DESCRIPTION----*/
.info{
    border : 2px solid darkblue ;
    display: flex;
    height: 275px;
    width: 700px;
    margin: 20px;
    background-color:#cf3a08;
}
.nom{
    margin: 10px;}
.contact{
    display:flex;
    justify-content: space-between;
}
.presentation{
    border : 2px solid green;
}
/*-------Bloc NOTES & TAGS ----*/
.sectionBloc{
    border: 2px solid darkblue;
    background-color: #cf3a08;
    height: 255px;
    margin: 20px;
    width: 900px;
    display: flex;
}
.notes,.tacks{
    height: 355px;
    width: 450px;
}
.tags{
    border: 2px solid darkblue;
    background-color: #cf3a08;
    height: 120px;
    margin: 20px;
    width: 350px;
    /* display: flex; */
}
.infoTags{
    display: flex;
    justify-content: space-around;
}
h2{
    margin-left: 20px;
}

